<!DOCTYPE html>
<html lang="en">
<head>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>

{{!-- Navigation links --}}
 <nav>
        <h4>Node MySQL Login</h4>
        <ul>
            <li><a href="/">Главная</a></li>
            {{#unless authenticated }}
                <li><a href="/register">Регистрация</a></li>
            {{/unless}}
        </ul>
    </nav>

  <div class="container mt-4">
        <div class="card" style="width: 18rem;">            
            <div class="card-header">Login Form</div>    
            <div class="card-body">
                <form action="/auth/login" method="POST">
                    <div class="mb-3">
                        <label for="email-log" class="form-label">Email</label>
                        <input required="required" type="email" class="form-control" id="email-log" name="email">                        
                    </div>
                    
                    <div class="mb-3">
                        <label for="password-log" class="form-label">Password</label>
                        <input required="required" type="password" class="form-control" id="password-log" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{{#if authFailed }}
 <h4 class="alert alert-danger mt-4">Некорректный логин или пароль</h4>
{{/if}}

{{#if authSuccess }}
 <h4 class="alert alert-success mt-4">Вход выполнен</h4>
{{/if}}
